@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Noto+Serif:wght@400;700&display=swap');

body {
    margin:0;
    padding:0;
    font-family: "Noto Serif";
    font-size: 1.25rem;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2.75rem;
}

nav div:first-of-type, ul.second-navbar-link{
    max-width: 90%;
    margin: 1.5rem auto;
}

.fluid-img {
    max-width: 100%;
}

.arimo-r{
    font-family: 'Arimo', sans-serif;
}

a{
    text-decoration: none;
}

figure {
    margin:0;
}


.breadcrumbs a,
.breadcrumbs li {
    color: #4C9DFA;
    font-size: 1rem;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-inline-flex {
    display: inline-flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-gap-1 {
    gap: 0.5rem
}

.flex-gap-2 {
    gap: 1rem
}

.flex-gap-3 {
    gap: 1.5rem
}

.flex-gap-8 {
    gap: 4rem
}

.mt-1 {
    margin-top: 0.5rem
}

.mt-2 {
    margin-top: 1rem
}

.mt-3 {
    margin-top: 1.5rem
}

.mt-4 {
    margin-top: 2rem
}

.mb-1 {
    margin-bottom: 0.5rem
}

.mb-2 {
    margin-bottom: 1rem
}

.mb-3 {
    margin-bottom: 1.5rem
}

.mb-4 {
    margin-bottom: 2rem
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}



.uppercase {
    text-transform: uppercase;
}

.reset-list-style {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.second-navbar-link a{
    color: black;
    font-size: 1rem;
}

.second-navbar-link a:hover {
    color: #117EFA;
}

.menu span {
    width: 22px;
    height: 3px;
    margin: 3px 0;
    background-color: black;
    display: block;
}

.menu span:nth-child(2) {
    width: 26px;
}

.container {
    position: relative;
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
}

.content {
    width: 70%;
    padding-bottom: 1rem;
}

.advertising {
    width:30%;
    align-self: flex-start;
    position: sticky;
    top:0;
    right:0;
}

.social-network {
    width: 40px;
    padding: 0.5rem;
}

.social-network li{
    margin: .75rem 0;
}

.social-network a {
    text-align: center;
    display: block;
}

.feed {
    font-size: 1.5rem;
}

.bold {
    font-weight: 500;
}

.date {
    font-size: 1rem;
}

.border-rounded-2 {
    border-radius: 2rem;
}

.border-rounded-1 {
    border-radius: 1rem;
}

.overflow-hidden {
    overflow: hidden;
}

.related-news figure{
    font-size: 1rem;
}

.main-navbar {
    background-color: black;
    padding: 1rem 0;
}

.main-navbar a {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
.users button {
    width: 100px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    transition: box-shadow 0.7s;
    line-height: 1;
    padding: 0.5rem 0.75rem;
}

.users button:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

button.orange {
    background-color: orange;
    border: none;
    color: white;
    transform: scale(1);
    transition: transform 0.7s;
    font-weight: 500;
}

button.orange:hover {
    transform: scale(1.1);
}

.reset-button {
    border: none;
    background-color: transparent;
}

.twitter {
    max-width: 550px;
    border: 1px solid gainsboro;
    border-radius: 2rem;
    padding: 1rem;
    margin: 2.2rem auto;
    transition: background-color 0.7s;
}

.twitter:hover {
    background-color: rgb(247, 247, 247);
}

.twitter p{
    font-size: 1.35rem;
}

.twitter .icon {
    width: 24px;
}

.twitter .user {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.twitter .user + div a {
    font-size: 0.97rem;
    font-weight: 600;
    color: black;
}

.twitter .user + div a + a {  
    font-weight: 400;
    color: rgb(83, 100, 113);
}

.twitter a, a.link, .twitter .user + div a + a.link{
    color: rgb(0, 111, 214);
}
.twitter .user + div a + a.link {
    font-weight: 600;
}


.read-more {
    border: 1px solid gainsboro;
    border-radius: 2rem;
    text-align: center;
    padding: 0.25rem 0;
    display: block;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 0.97rem;
}

.fs-1 {
    font-size: 1rem;
}

.fs-785 {
    font-size: 0.785rem;
}

a.fc-black {
    color: black;
}

.fb-icon {
    height: 24px;
}

.tw-icon {
    height: 18px;
}